<div id='card'>
  <p> to: <%= recipient_name_or_link(card.recipient_email, card.recipient_name) %></p>
  <p> from: <%= link_to card.sender_name, card.user %></p>
  <%= image_tag card.image_url, width: 25 %>
  <%= card.body %>
  <div>
    <% if current_user == card.user %>
      <%= link_to 'edit', edit_card_path(card) %>
    <% end %>
  </div>
</div>
