<h2>make a new card</h2>
<%= form_for @card do |form| %>
  <%= render 'cards/error_messages', card: form.object %>
  <div>
    <%= form.text_field :recipient_name, placeholder: "to:", value: @recipient.name %>
  </div>
  <div>
    <%= form.text_field :sender_name, placeholder: 'from:' %>
  </div>
  <div>
    <%= form.url_field :image_url, placeholder: 'add an image from a url' %>
  </div>
  <div>
    <%= form.text_area :body, placeholder: 'add a personal message' %>
  </div>
  <div>
    <%= form.email_field :recipient_email, placeholder: 'their email address', value: @recipient.email %>
  </div>
  <div>
    <%= form.email_field :sender_email, value: current_user.email %>
  </div>
  <%= form.submit 'create card' %>
<% end %>
