<!DOCTYPE html>
<html>
<head>
  <title>Thankyou</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id= 'outer-wrapper'>
  <div id='side-nav'>
    <div id='logo'>
      <h2>thanku</h2>
    </div>
    <% if signed_in? %>
        signed in as: <%= link_to current_user.email, user_path(current_user) %>
      <div>
        <%= link_to 'new', new_card_path %>
      </div>
      <div>
        <%= link_to 'all', cards_path %>
      </div>
      <div>
        <%= link_to 'mine', user_path(current_user) %>
      </div>
      <div>
        <%= link_to 'sign out', session_path, method: :delete %>
      </div>
    <% else %>
      <%= link_to 'sign in', new_session_path %> | <%= link_to 'sign up', new_user_path %>
    <% end %>
  </div>
  <div id='outer-wrapper'>
    <div id='main-content'>
    <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
